<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>货流中国-首页</title>

    <meta name="author" content="themesflat.com">


    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Bootstrap  -->
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css" >

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

    <!-- Responsive -->
    <link rel="stylesheet" type="text/css" href="stylesheets/responsive.css">

    <!-- Colors -->
    <link rel="stylesheet" type="text/css" href="stylesheets/colors/color1.css" id="colors">
	
	<!-- Animation Style -->
    <link rel="stylesheet" type="text/css" href="stylesheets/animate.css">

    <!--自定义的css样式-->
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" id="mygbc" href="css/globalBackgroudColor.css">
    <link rel="shortcut icon" href="images/favicon.ico" />
    <!-- Favicon and touch icons  -->
    <link href="icon/apple-touch-icon-48-precomposed.png" rel="apple-touch-icon-precomposed" sizes="48x48">
    <link href="icon/apple-touch-icon-32-precomposed.png" rel="apple-touch-icon-precomposed">

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>                                 
<body class="header-sticky">
    
    <!-- Boxed -->
    <div class="boxed">
        <div class="site-header header-v2">
            <!--导航栏-->
            <nav class="navbar mynavbar navbar-inverse">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header col-md-3">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand navbar-brandmy" href="#"><img   src="images/logo.png"/></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-out-my" id="bs-example-navbar-collapse-1">
                        <ul class="nav col-md-7  navbar-nav">
                            <li class="active"><a class="navbar-inner-my" href="/user/index">首页<span class="sr-only">(current)</span></a></li>
                            <li><a class="navbar-inner-my" href="/user/SupplyOfGoods">货源信息</a></li>
                            <li><a class="navbar-inner-my" href="/user/SupplyOfCars">车源信息</a></li>
                            <li><a class="navbar-inner-my" href="/user/SupplyOfAirplane">空运信息</a></li>
                            <li><a class="navbar-inner-my" href="/user/NewsInfo">新闻信息</a></li>
                            <li><a href="aboutWe">关于我们</a></li>
                        </ul>
                        <ul class="nav col-md-2 navbar-nav navbar-right">
                            <li><a href="/#">登录</a></li>
                            <li class="nav-shu-my hidden-xs">丨</li>
                            <li><a href="/member/reg">注册</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>

        </div><!-- /.site-header -->

        <!-- Slider -->
        <div class="tp-banner-container">
            <div class="tp-banner" >
                <ul>
                    <li data-transition="random-static" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on">
                        <img src="images/slides/1.jpg" alt="slider-image" />
                        <div class="tp-caption sfl title-slide center" data-x="40" data-y="100" data-speed="1000" data-start="1000" data-easing="Power3.easeInOut">
                            安全托运<br>价格透明
                        </div>  
                        <div class="tp-caption sfr desc-slide center" data-x="40" data-y="240" data-speed="1000" data-start="1500" data-easing="Power3.easeInOut">
                            正规合同 全程保险<br>服务至上!
                        </div>    
                        <div class="tp-caption sfl flat-button-slider bg-button-slider-32bfc0" data-x="40" data-y="370" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut"><a href="#">Read more</a>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-chevron-right"></i></div>

                        <div class="tp-caption sfr flat-button-slider" data-x="225" data-y="370" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut"><a href="#">关于我们</a>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-chevron-right"></i></div>
                    </li>

                    <li data-transition="random-static" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on">
                        <img src="images/slides/2.jpg" alt="slider-image" />
                        <div class="tp-caption sfl title-slide center" data-x="40" data-y="100" data-speed="1000" data-start="1000" data-easing="Power3.easeInOut">
                            专业车货智能配载平台
                            <br>轻松搞定货运服务

                        </div>  
                        <div class="tp-caption sfr desc-slide center" data-x="40" data-y="240" data-speed="1000" data-start="1500" data-easing="Power3.easeInOut">
                            目前部分城市开通此服务<br>未来将更多城市提供此项服务!
                        </div>
                        <div class="tp-caption sfl flat-button-slider bg-button-slider-32bfc0" data-x="40" data-y="370" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut"><a href="#">Read more</a>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-chevron-right"></i></div>

                        <div class="tp-caption sfr flat-button-slider" data-x="225" data-y="370" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut"><a href="#">关于我们</a>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-chevron-right"></i></div>
                    </li>

                    <li data-transition="slidedown" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on">
                        <img src="images/slides/3.jpg" alt="slider-image" />
                        <div class="tp-caption sfl title-slide center" data-x="40" data-y="100" data-speed="1000" data-start="1000" data-easing="Power3.easeInOut">                            
                            全国重点城市覆盖<br>服务网点及路线覆盖
                        </div>  
                        <div class="tp-caption sfr desc-slide center" data-x="40" data-y="240" data-speed="1000" data-start="1500" data-easing="Power3.easeInOut">                       
                            运输干线网络覆盖全国主要城市<br>能为您提供全部汽车托运服务
                        </div>    
                        <div class="tp-caption sfl flat-button-slider bg-button-slider-32bfc0" data-x="40" data-y="370" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut"><a href="#">Read more</a>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-chevron-right"></i></div>

                        <div class="tp-caption sfr flat-button-slider" data-x="225" data-y="370" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut"><a href="#">关于我们</a>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-chevron-right"></i></div>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Promobox -->
        <div class="flat-row pad-top0px pad-bottom0px">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="promobox style1 style2 clearfix">
                            <div class="col-md-2 col-md-offset-3"><img class="center-block" src="images/index/pic-1.png"/><div class="text-center">专线服务</div></div>
                            <div class="col-md-2"><img class="center-block" src="images/index/pic-2.png"/><div class="text-center">自动装配</div></div>
                            <div class="col-md-2"><img class="center-block" src="images/index/pic-3.png"/><div class="text-center">智能调度</div></div>
                        </div>
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.flat-row -->

        <!-- Flat imagebox -->
        <div class="flat-row parallax-style parallax1">
            <div class="overlay bg-scheme1"></div>
            <div class="container">
                <div class="row">
                    <div class="flat-wrapper">
                        <div class="flat-imagebox clearfix">
                            <div class="flat-item item-three-column">
                                <div class="imagebox">
                                    <div class="box-wrapper">
                                        <div class="box-image">
                                            <img src="images/imagebox/1.jpg" alt="images">
                                        </div>
                                        <div class="box-header">
                                            <h5 class="box-title">
                                                <a href="#">专线服务</a>
                                            </h5>
                                        </div>
                                        <div class="box-content">
                                            <div class="box-desc">京东、天猫、唯品会、美团等订单归总汇集排单，支持分布式仓储优选作业操作无错分拣!</div>
                                            <div class="box-button">
                                                <a class="button bg-scheme3" href="#">read more <i class="fa fa-chevron-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.imagebox -->
                            </div><!-- /.item-three-column -->

                            <div class="flat-item item-three-column">
                                <div class="imagebox">
                                    <div class="box-wrapper">
                                        <div class="box-image">
                                            <img src="images/imagebox/2.jpg" alt="images">
                                        </div>
                                        <div class="box-header">
                                            <h5 class="box-title">
                                                <a href="#">智能调度</a>
                                            </h5>
                                        </div>
                                        <div class="box-content">
                                            <div class="box-desc">车辆装载排单预配自动调度，路由行车路径优选匹配拣选，在途车辆 实时位置追踪、行车轨迹监视监控！</div>
                                            <div class="box-button">
                                                <a class="button bg-scheme3" href="#">read more <i class="fa fa-chevron-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.imagebox -->
                            </div><!-- /.item-three-column -->

                            <div class="flat-item item-three-column">
                                <div class="imagebox">
                                    <div class="box-wrapper">
                                        <div class="box-image">
                                            <img src="images/imagebox/3.jpg" alt="images">
                                        </div>
                                        <div class="box-header">
                                            <h5 class="box-title">
                                                <a href="#">监视追踪</a>
                                            </h5>
                                        </div>
                                        <div class="box-content">
                                            <div class="box-desc">发车派送时效精细化监视监控，客户签收代收货款、电子回单可视化追踪，支持退\换货操作一体化管控！</div>
                                            <div class="box-button">
                                                <a class="button bg-scheme3" href="#">read more <i class="fa fa-chevron-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.imagebox -->
                            </div><!-- /.item-three-column -->
                        </div><!-- /.flat-imagebox -->
                    </div><!-- /.flat-wrapper -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.flat-row -->

        <!-- Flat iconbox style -->
        <div class="flat-row pad-top60px pad-bottom10px">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="flat-title-section style">我们的 <span class="scheme">服务</span></h2>
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
                <div class="flat-divider d40px"></div>
                <div class="row">
                    <div class="flat-wrapper">
                        <div class="flat-iconbox-style clearfix">
                            <div class="flat-item item-three-column">
                                <div class="iconbox style1">
                                    <div class="box-header">
                                        <div class="box-icon"><i class="fa fa-dropbox"></i></div>
                                        <h5 class="box-title">货运专线信息</h5>
                                    </div>
                                    <div class="box-content">
                                        提供专线货运，跨城、跨省、
                                        跨国货运；同城大件、急件；
                                        个人企业搬家。
                                    </div>
                                </div>
                            </div><!-- /.item-three-column -->

                            <div class="flat-item item-three-column">
                                <div class="iconbox style1">
                                    <div class="box-header">
                                        <div class="box-icon"><i class="fa fa-truck"></i></div>
                                        <h5 class="box-title">车源信息</h5>
                                    </div>
                                    <div class="box-content">
                                        提供即时车源信息、空车
                                        配货信息、回程车信息服
                                        务，查找车源。
                                    </div>
                                </div>
                            </div><!-- /.item-three-column -->

                            <div class="flat-item item-three-column">
                                <div class="iconbox style1">
                                    <div class="box-header">
                                        <div class="box-icon"><i class="fa fa-cube"></i></div>
                                        <h5 class="box-title">货源信息</h5>
                                    </div>
                                    <div class="box-content">
                                        提供全国物流货源信息、
                                        即时配货信息
                                    </div>
                                </div>
                            </div><!-- /.item-three-column -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="flat-wrapper">
                        <div class="flat-iconbox-style clearfix">

                            <div class="flat-item item-three-column">
                                <div class="iconbox style1">
                                    <div class="box-header">
                                        <div class="box-icon"><i class="fa fa-mail-forward"></i></div>
                                        <h5 class="box-title">供求信息</h5>
                                    </div>
                                    <div class="box-content">
                                        供求信息栏目提供免费
                                        发布及查询
                                    </div>
                                </div>
                            </div><!-- /.item-three-column -->

                            <div class="flat-item item-three-column">
                                <div class="iconbox style1">
                                    <div class="box-header">
                                        <div class="box-icon"><i class="fa fa-plane"></i></div>
                                        <h5 class="box-title">空运和陆运</h5>
                                    </div>
                                    <div class="box-content">
                                        通过使用陆运和空运的结合，您可以为您的供应链带来更多的灵活性。
                                    </div>
                                </div>
                            </div><!-- /.item-three-column -->

                            <div class="flat-item item-three-column">
                                <div class="iconbox style1">
                                    <div class="box-header">
                                        <div class="box-icon"><i class="fa fa-globe"></i></div>
                                        <h5 class="box-title">航空信息</h5>
                                    </div>
                                    <div class="box-content">
                                        提供最新航空资讯、航
                                        空运输信息、航空货运
                                        信息、航空物流托运信息....
                                    </div>
                                </div>
                            </div><!-- /.item-three-column -->
                        </div><!-- /.flat-iconbox-style -->
                    </div><!-- /.flat-wrapper -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.flat-row -->

        <div class="flat-row parallax parallax4 pad-top120px pad-bottom120px">
            <div class="overlay bg-scheme1"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="make-quote">
                            <h1 class="title">从街角<br>到全国各地</h1>
                            <h5 class="desc">我们会处理好您的货物和资金，并按时安全运送。</h5>
                            <div class="group-btn">
                                <a class="button lg" href="#">read more... <i class="fa fa-chevron-right"></i></a>
                                <a class="button lg outline style1" href="#">关于我们<i class="fa fa-chevron-right"></i></a>
                            </div>
                        </div><!-- /.make-quote -->
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.flat-row -->

        <!-- Promobox -->
        <div class="flat-row bg-scheme1 pad-top0px pad-bottom0px">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="promobox style1 style2 clearfix">
                            <h5 class="promobox-title">现在就联系我们，为您所有的空运和货物需要报价。</h5>
                            <a class="button black sm" href="contact.html">关于我们<i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.flat-row -->

        <div class="flat-row blog-shortcode blog-home pad-top60px pad-bottom0px">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="flat-title-section style mag-bottom0px">新闻动态 <span class="scheme">news.</span></h2>
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->

                <div class="row">
                    <div class="content-wrap">
                        <div class="main-content">
                            <div class="main-content-wrap">
                                <div class="content-inner clearfix">
                                    <article class="flat-item item-three-column blog-post">
                                        <div class="entry-wrapper">
                                            <div class="entry-cover">
                                                <a href="blog-single.html">
                                                    <img src="images/blog/b1.jpg" alt="images">
                                                </a>
                                            </div><!-- /.entry-cover --> 
                                            <div class="entry-header">                                                
                                                <div class="entry-header-content">
                                                    <h4 class="entry-time">
                                                        <span class="entry-day">25</span>
                                                        <span class="entry-month">2019-4</span>
                                                    </h4>
                                                    <h4 class="entry-title">
                                                        <a href="#">三个月内两轮融资</a>
                                                    </h4>                                                    
                                                </div><!-- /.entry-header-content -->
                                            </div><!-- /.entry-header -->

                                            <div class="entry-content">
                                                <p>2019-02-20 18:02 2月20日，
                                                    国内领先的一站式国际物
                                                    流服务平台——“货流中国”
                                                    对外宣布，已正式完成数千
                                                    万美元B2轮融资...</p>
                                            </div><!-- /.entry-content -->
                                            <div class="entry-footer">
                                                <div class="entry-meta">
                                                    <i class="fa fa-user"></i>
                                                    <span class="entry-author"><a href="#">首页</a></span>
                                                    <i class="fa fa-folder-open"></i>
                                                    <span class="entry-categories"><a href="#">仓库</a></span>
                                                    <i class="fa fa-comment"></i>
                                                    <span class="entry-comments-link"><a href="#">评论</a></span>
                                                </div>
                                            </div>
                                        </div><!-- /.entry-wrapper -->
                                    </article><!-- /.blog-post -->

                                    <article class="flat-item item-three-column blog-post">
                                        <div class="entry-wrapper">
                                            <div class="entry-cover">
                                                <a href="blog-single.html">
                                                    <img src="images/blog/b2.jpg" alt="images">
                                                </a>
                                            </div><!-- /.entry-cover --> 
                                            <div class="entry-header">                                                
                                                <div class="entry-header-content">
                                                    <h4 class="entry-time">
                                                        <span class="entry-day">25</span>
                                                        <span class="entry-month">2019-4</span>
                                                    </h4>
                                                    <h4 class="entry-title">
                                                        <a href="blog-single.html">创始人罗某：重塑服务</a>
                                                    </h4>                                                    
                                                </div><!-- /.entry-header-content -->
                                            </div><!-- /.entry-header -->

                                            <div class="entry-content">
                                                <p>2018年中国工业电子商务大会
                                                    在北京国际会议中心成功举办，
                                                    本次会议由工业和信息化部
                                                    指导，...</p>
                                            </div><!-- /.entry-content -->
                                            <div class="entry-footer">
                                                <div class="entry-meta">
                                                    <i class="fa fa-user"></i>
                                                    <span class="entry-author"><a href="#">首页</a></span>
                                                    <i class="fa fa-folder-open"></i>
                                                    <span class="entry-categories"><a href="#">仓库</a></span>
                                                    <i class="fa fa-comment"></i>
                                                    <span class="entry-comments-link"><a href="#">评论</a></span>
                                                </div>
                                            </div>
                                        </div><!-- /.entry-wrapper -->
                                    </article><!-- /.blog-post -->

                                    <article class="flat-item item-three-column blog-post">
                                        <div class="entry-wrapper">
                                            <div class="entry-cover">
                                                <a href="#">
                                                    <img src="images/blog/b3.jpg" alt="images">
                                                </a>
                                            </div><!-- /.entry-cover --> 
                                            <div class="entry-header">                                                
                                                <div class="entry-header-content">
                                                    <h4 class="entry-time">
                                                        <span class="entry-day">25</span>
                                                        <span class="entry-month">2019-4</span>
                                                    </h4>
                                                    <h4 class="entry-title">
                                                        <a href="#">连续四年登榜中国B2B行业百强</a>
                                                    </h4>                                                    
                                                </div><!-- /.entry-header-content -->
                                            </div><!-- /.entry-header -->

                                            <div class="entry-content">
                                                <p>2019-01-03 18:43 在圣诞节来临
                                                    之际，运去哪也同样“喜事连连”…</p>
                                            </div><!-- /.entry-content -->
                                            <div class="entry-footer">
                                                <div class="entry-meta">
                                                    <i class="fa fa-user"></i>
                                                    <span class="entry-author"><a href="#">首页</a></span>
                                                    <i class="fa fa-folder-open"></i>
                                                    <span class="entry-categories"><a href="#">运输</a></span>
                                                    <i class="fa fa-comment"></i>
                                                    <span class="entry-comments-link"><a href="#">评论</a></span>
                                                </div>
                                            </div>
                                        </div><!-- /.entry-wrapper -->
                                    </article><!-- /.blog-post -->
                                </div><!-- /.content-inner -->                                
                            </div><!-- /.main-content-wrap -->
                        </div><!-- /.main-content -->
                    </div><!-- /.content-wrap  -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.flat-row -->

        <div class="flat-row pad-bottom70px bg-f2f4f8">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="flat-title-section style w90 mag-bottom0px">用户 <span class="scheme">留言</span></h2>
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->

                <div class="flat-divider d48px"></div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="flat-testimonial-owl">
                            <div class="flat-testimonial">
                                <div class="testimonial-meta">            
                                    <div class="testimonial-image">
                                        <img src="images/testimonials/star.png" alt="images">
                                    </div>
                                    <div class="testimonial-author">
                                        <strong class="author-name">刘强东</strong>
                                        <div class="author-info"></div>
                                    </div>
                                </div>
                                <div class="testimonial-content">
                                    <blockquote>
                                        货运中国非常适合合作。他们有很多地方，有竞争力的价格，他们优秀的员工将超越他们的合作伙伴。我期待着将来和他们一起工作 <br>谢谢你们!
                                    </blockquote>
                                </div>
                            </div><!-- /.testimonial -->

                            <div class="flat-testimonial">
                                <div class="testimonial-meta">            
                                    <div class="testimonial-image">
                                        <img src="images/testimonials/star.png" alt="images">
                                    </div>
                                    <div class="testimonial-author">
                                        <strong class="author-name">码云</strong>
                                        <div class="author-info"></div>
                                    </div>
                                </div>
                                <div class="testimonial-content">
                                    <blockquote>
                                        谢谢你这么快就把椅子送来。你的快递员很有帮助，也很有礼貌。我们很高兴与您打交道，我们将毫不犹豫地再次使用您的服务或向您推荐。
                                    </blockquote>
                                </div>
                            </div><!-- /.testimonial -->

                            <div class="flat-testimonial">
                                <div class="testimonial-meta">            
                                    <div class="testimonial-image">
                                        <img src="images/testimonials/star.png" alt="images">
                                    </div>
                                    <div class="testimonial-author">
                                        <strong class="author-name">马化腾</strong>
                                        <div class="author-info"></div>
                                    </div>
                                </div>
                                <div class="testimonial-content">
                                    <blockquote>
                                        我们一直认为他们是高度专业和可靠的，并帮助我们提供高水准的服务给我们的客户。西南快运一直是我们宝贵的供应商，并将继续如此。
                                    </blockquote>
                                </div>
                            </div><!-- /.testimonial -->

                            <div class="flat-testimonial">
                                <div class="testimonial-meta">            
                                    <div class="testimonial-image">
                                        <img src="images/testimonials/star.png" alt="images">
                                    </div>
                                    <div class="testimonial-author">
                                        <strong class="author-name">刘平</strong>
                                        <div class="author-info"></div>
                                    </div>
                                </div>
                                <div class="testimonial-content">
                                    <blockquote>
                                        我们对服务很满意。调度员很专业，反应很快。对我们来说，就像我们很难找到适合海外运输的集装箱一样。没有任何障碍，一直是我们很好的问题解决者，就像我们在为空运寻找集装箱时遇到的困难一样。
                                    </blockquote>
                                </div>
                            </div><!-- /.testimonial -->

                            <div class="flat-testimonial">
                                <div class="testimonial-meta">            
                                    <div class="testimonial-image">
                                        <img src="images/testimonials/star.png" alt="images">
                                    </div>
                                    <div class="testimonial-author">
                                        <strong class="author-name">马甲</strong>
                                        <div class="author-info"></div>
                                    </div>
                                </div>
                                <div class="testimonial-content">
                                    <blockquote>
                                        在像卡车运输这样的大宗商品业务中，乔治华盛顿大学因其客户服务而脱颖而出。他们出来讨论我们的需求，给我们快速准确的报价，当他们说他们会给我一辆卡车。这就形成了一种关系。
                                    </blockquote>
                                </div>
                            </div><!-- /.testimonial -->
                        </div><!-- /.flat-testimonial -->
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.flat-row -->


        <div class="flat-row pad-top65px pad-bottom80px">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="flat-title-section title-center">用户评论</h2>
                        <p class="text-center">请为我们提出宝贵的意见<br>您的建议将会是我们前进最大的动力!.</p>
                        <div class="flat-divider d20px"></div>
                        <form id="contactform" method="post" action="./contact/contact-process.php">
                            <div class="row">

                                <div class="col-md-12">
                                    <p><textarea name="comment" placeholder="Comment" required="required"></textarea></p>
                                    <span class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="提交">
                                    </span>
                                </div><!-- /.col-md-6 -->
                            </div><!-- /.row -->
                        </form>
                    </div><!-- /.col-md-8 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.flat-row -->
       
        <!-- Footer -->
        <footer class="footer">
            <div class="content-bottom-widgets">        
                <div class="container">
                    <div class="row"> 
                        <div class="flat-wrapper">
                            <div class="ft-wrapper clearfix">
                                <div class="footer-50">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="counter">
                                                <div class="counter-image"><i class="fa fa-building-o"></i></div>
                                                <div class="numb-count" data-to="2223" data-speed="3000" data-waypoint-active="yes">2223</div>
                                                <div class="counter-title">
                                                    企业数量
                                                </div>
                                            </div>
                                        </div><!-- /.col-md-4 -->

                                        <div class="col-md-4">
                                            <div class="counter ft-style1">
                                                <div class="counter-image"><i class="fa fa-group"></i></div>
                                                <div class="numb-count" data-to="14444" data-speed="3000" data-waypoint-active="yes">14444</div>
                                                <div class="counter-title">
                                                    员工数量
                                                </div>
                                            </div>
                                        </div><!-- /.col-md-4 -->

                                        <div class="col-md-4">
                                            <div class="counter ft-style2">
                                                <div class="counter-image"><i class="fa fa-globe"></i></div>
                                                <div class="numb-count" data-to="15555" data-speed="3000" data-waypoint-active="yes">15555</div>
                                                <div class="counter-title">
                                                    城市覆盖
                                                </div>
                                            </div>
                                        </div><!-- /.col-md-4 -->
                                    </div><!-- /.row -->
                                </div><!-- /.footer-50 -->


                        </div><!-- /.flat-wrapper -->
                    </div><!-- /.row -->    
                </div><!-- /.container -->
            </div><!-- /.footer-widgets -->

            <div class="footer-widgets">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="widge widget_text">
                                <div class="textwidget">
                                    <h2>西南货运 - 商业, 运输, 货流 &amp; 车源</h2>
                                </div>
                            </div><!-- /.widget_text -->
                        </div><!-- /.col-md-3 -->

                        <div class="col-md-3">
                            <div class="widget widget_recent_entries">
                                <h4 class="widget-title">最新新闻</h4>
                                <ul>
                                    <li>
                                        <a href="#">提高效率 &amp; 扩大仓库</a>
                                        <span class="post-date">5月 25, 2018</span>
                                    </li>
                                    <li>
                                        <a href="blog-single.html">空运货流进入管理阶段</a>
                                        <span class="post-date">5月 25, 2018</span>
                                    </li>
                                </ul>
                            </div><!-- /.widget_recent_entries -->
                        </div><!-- /.col-md-3 -->

                        <div class="col-md-3">
                            <div class="widget widget_nav_menu">
                                <h3 class="widget-title">信息</h3>
                                <div class="menu-footer-menu-container">
                                    <ul class="menu-footer-menu">
                                        <li><a href="#">首页</a></li>
                                        <li><a href="#">车源信息</a></li>
                                        <li><a href="#">货源信息</a></li>
                                        <li><a href="#">关于我们</a></li>
                                        <li><a href="#">功能中心</a></li>
                                        <li><a href="#">新闻播报</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- /.col-md-3 -->

                        <div class="col-md-3">
                            <div class="widget widget_text information">
                                <h3 class="widget-title">联系我们</h3>
                                <div class="textwidget">
                                    <p><strong>西南大学商贸学院学院路56号</strong></p>
                                    <p>
                                        <i class="fa fa-phone"></i>  001-123-456-7890<br>
                                        <i class="fa fa-envelope"></i>themesflat@qq.com
                                    </p>
                                    <p>
                                        <i class="fa fa-phone"></i>  007-123-456-7890<br>
                                        <i class="fa fa-envelope"></i>themesflat@qq.com
                                    </p>
                                </div>          
                            </div>
                        </div><!-- /.col-md-3 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.footer-content -->

            <div class="footer-content">
                <div class="container">
                    <div class="row">
                        <div class="flat-wrapper">
                            <div class="ft-wrap clearfix">
                                <div class="copyright">
                                    <div class="copyright-content">
                                        版权 &copy; 2017.公司名称版权所有<a target="_blank" href="http://sc.chinaz.com/moban/"></a>
                                    </div>
                                </div>
                            </div><!-- /.ft-wrap -->
                        </div><!-- /.flat-wrapper -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.footer-content -->
            </div>
        </footer>

        <!-- Go Top -->
        <a class="go-top">
            <i class="fa fa-chevron-up"></i>
        </a>   

    </div>
    
    <!-- Javascript -->
    <script type="text/javascript" src="javascript/jquery.min.js"></script>
    <script type="text/javascript" src="javascript/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascript/jquery.easing.js"></script> 
    <script type="text/javascript" src="javascript/owl.carousel.js"></script>
    <script type="text/javascript" src="javascript/jquery-waypoints.js"></script>
    <script type="text/javascript" src="javascript/jquery-countTo.js"></script> 
    <script type="text/javascript" src="javascript/jquery.cookie.js"></script>
    <!---<script type="text/javascript" src="http://ditu.google.cn/maps/api/js?sensor=false"></script>--->
    <!---<script type="text/javascript" src="javascript/gmap3.min.js"></script>--->
    <script type="text/javascript" src="javascript/jquery-validate.js"></script>
    <script type="text/javascript" src="javascript/switcher.js"></script>
    <script type="text/javascript" src="javascript/main.js"></script>

    <!-- Revolution Slider -->
    <script type="text/javascript" src="javascript/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="javascript/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="javascript/slider.js"></script>
</body>
</html>
