<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>货流中国-关于我们</title>

    <meta name="author" content="themesflat.com">


    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Bootstrap  -->
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css" >

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

    <!-- Responsive -->
    <link rel="stylesheet" type="text/css" href="stylesheets/responsive.css">

    <!-- Colors -->
    <link rel="stylesheet" type="text/css" href="stylesheets/colors/color1.css" id="colors">

    <!-- Animation Style -->
    <link rel="stylesheet" type="text/css" href="stylesheets/animate.css">

    <!--自定义的css样式-->
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" id="mygbc" href="css/globalBackgroudColor.css">
    <link rel="shortcut icon" href="images/favicon.ico" />
    <!-- Favicon and touch icons  -->
    <link href="icon/apple-touch-icon-48-precomposed.png" rel="apple-touch-icon-precomposed" sizes="48x48">
    <link href="icon/apple-touch-icon-32-precomposed.png" rel="apple-touch-icon-precomposed">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="header-sticky">


<!-- Boxed -->
<div class="boxed">
    <div class="site-header header-v2">
        <!--导航栏-->
        <nav class="navbar mynavbar navbar-inverse">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header col-md-3">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand navbar-brandmy" href="#"><img   src="images/logo.png"/></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-out-my" id="bs-example-navbar-collapse-1">
                    <ul class="nav col-md-7  navbar-nav">
                        <li><a class="navbar-inner-my" href="/index">首页</a></li>
                        <li><a class="navbar-inner-my" href="/SupplyOfGoods">货源信息</a></li>
                        <li><a class="navbar-inner-my" href="/SupplyOfCars">车源信息</a></li>
                        <li><a class="navbar-inner-my" href="/SupplyOfAirplane">空运信息</a></li>
                        <li><a class="navbar-inner-my" href="/NewsInfo">新闻信息</a></li>
                        <li class="active"><a href="#">关于我们<span class="sr-only">(current)</span></a></li>
                    </ul>
                    <ul class="nav col-md-2 navbar-nav navbar-right">
                        <li><a href="#">登录</a></li>
                        <li class="nav-shu-my hidden-xs">丨</li>
                        <li><a href="#">注册</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

    </div><!-- /.site-header -->

    <div class="flat-row flat-general sidebar-right pad-bottom75px">
        <div class="container">
            <div class="row">
                <div class="general">
                    <div class="general-slider about-slider">
                        <div class="flexslider">
                            <ul class="slides">
                                <li>
                                    <a class="popup-gallery" href="images/about/1.jpg"><img src="images/about/1.jpg" alt="images"></a>
                                </li>
                                <li>
                                    <a class="popup-gallery" href="images/about/2.jpg"><img src="images/about/2.jpg" alt="images"></a>
                                </li>
                                <li>
                                    <a class="popup-gallery" href="images/about/3.jpg"><img src="images/about/3.jpg" alt="images"></a>
                                </li>
                            </ul>
                        </div>
                    </div><!-- /.about-slider -->

                    <div class="flat-divider d30px"></div>

                    <h3 class="flat-title-section style mag-top10px">Company <span>overview</span></h3>
                    <p>At Canava Transport, we know time is of the essence. We have used our legacy Truckload service in the Mid-Atlantic and Midwest regions to shape what our company is today. In addition to Truckload (TL) services, we have expanded our reach on the asset based side to include expedited services, reverse logistics and volume Less-Than-Truckload (LTL) shipments; as well as a compliment of non-asset based solutions to service our customers’ needs throughout North America.</p>
                    <p>Our family-run business values hard work, respect, commitment and teamwork and our workplace is characterized by the high energy, enthusiasm and effort of our employees who thrive in this positive environment. We are committed to providing our customers with first-rate service, which starts with our employees’ dedication to our enterprise of services.</p>
                    <p>The commitment we have to safety and security is unmatched. We pride ourselves on posting industry leading Compliance, Safety, Accountability (CSA) scores, as well as an industry low claims ratio to give you and your customers that piece of mind when your freight is in our hands. Our primary obligation to our customers and our community starts with the hiring and training of our team members and our pledge to put the safest drivers and equipment on the road.</p>
                    <p>From our experienced drivers to our knowledgeable office staff, Canava Transport has the desire and commitment to work hand-in-hand to develop transportation solution that is truly customized to your needs.</p>

                    <div class="promobox">
                        <h5 class="promobox-title mag-top0px">We will take care of your cargo or your passenger and deliver them safe and on time.</h5>
                        <div class="group-btn">
                            <a class="button black" href="contact.html">contact us <i class="fa fa-chevron-right"></i></a>
                            <a class="button outline" href="services.html">view services <i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div><!-- /.promobox -->

                    <div class="row">
                        <div class="col-md-6">
                            <div class="flat-tabs">
                                <ul class="menu-tabs">
                                    <li class="active"><a href="#">Safety</a></li>
                                    <li><a href="#">Security</a></li>
                                </ul>
                                <div class="content-tab">
                                    <div class="content-inner">
                                        <p>At Canava Transport, ensuring the safety of our customers, employees and our communities is our priority. We understand the importance of continuous training and are proud of our safety knowledge, experienced staff and ability to exceed industry standards year after year. We have established and continually maintain excellent motor carrier safety ratings and low accident frequencies.</p>
                                        <p>As a company, we have a solid safety performance history and will continue to be a leader in the area of safety and compliance, due to the dedication and professionalism of our fleet of drivers and vehicle maintenance personnel.</p>
                                    </div><!-- /.content-inner -->

                                    <div class="content-inner">
                                        <p>At Canava Transport, we offer industry-leading asset protection and security compliance programs.</p>
                                        <p>Canava Transport understands that our customers may have important and unique needs related to homeland security regulatory compliance, high-risk products, or brand protection. We offer consultation and proactive partnership to ensure that our customers’ security needs are met.</p>
                                        <p>By leveraging modern and proven technologies, we provide for the integrity of customer assets while in-transit or at one of our facilities.</p>
                                    </div><!-- /.content-inner -->
                                </div><!-- /.content-tab -->
                            </div><!-- /.flat-tabs -->
                        </div><!-- /.col-md-6 -->

                        <div class="col-md-6">
                            <img src="images/img-single/1.jpg" alt="images">
                            <div class="flat-divider d30px"></div>
                            <img src="images/img-single/2.jpg" alt="images">
                        </div><!-- /.col-md-6 -->
                    </div><!-- /.row -->
                </div><!-- /.general -->

                <div class="general-sidebars">
                    <div class="sidebar-wrap">
                        <div class="sidebar">

                            <div class="widget widget_recent_entries">
                                <h4 class="widget-title">Company news</h4>
                                <ul>
                                    <li>
                                        <a href="blog-single.html">Raising productivity &amp; morale in the warehouse</a>
                                        <span class="post-date">March 25, 2017</span>
                                    </li>
                                    <li>
                                        <a href="blog-single.html">Seafield logistics goes into administration</a>
                                        <span class="post-date">March 25, 2017</span>
                                    </li>
                                    <li>
                                        <a href="blog-single.html">Transport managers grow scarce</a>
                                        <span class="post-date">March 25, 2017</span>
                                    </li>
                                </ul>
                            </div><!-- /.widget_recent_entries -->

                            <div class="widget widget_text">
                                <div class="textwidget">
                                    <div class="content-text">
                                        <h4 class="title">How can we help you?</h4>
                                        <p>Our customer service standards provide information on how we will handle your enquiry. There is also compliments and complaints information to help you when you lodge feedback with us.</p>
                                        <a class="button white" href="#">Contact Us<i class="fa fa-chevron-right"></i></a>
                                    </div>
                                </div><!-- /.textwidget -->
                            </div><!-- /.widget_text -->

                        </div><!-- /.sidebar -->
                    </div><!-- /.sidebar-wrap -->
                </div><!-- /.general-sidebars -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.blog -->


    <!-- Footer -->
    <footer class="footer">
        <div class="content-bottom-widgets">
            <div class="container">
                <div class="row">
                    <div class="flat-wrapper">
                        <div class="ft-wrapper clearfix">
                            <div class="footer-50">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="counter">
                                            <div class="counter-image"><i class="fa fa-building-o"></i></div>
                                            <div class="numb-count" data-to="2223" data-speed="3000" data-waypoint-active="yes">2223</div>
                                            <div class="counter-title">
                                                企业数量
                                            </div>
                                        </div>
                                    </div><!-- /.col-md-4 -->

                                    <div class="col-md-4">
                                        <div class="counter ft-style1">
                                            <div class="counter-image"><i class="fa fa-group"></i></div>
                                            <div class="numb-count" data-to="14444" data-speed="3000" data-waypoint-active="yes">14444</div>
                                            <div class="counter-title">
                                                员工数量
                                            </div>
                                        </div>
                                    </div><!-- /.col-md-4 -->

                                    <div class="col-md-4">
                                        <div class="counter ft-style2">
                                            <div class="counter-image"><i class="fa fa-globe"></i></div>
                                            <div class="numb-count" data-to="15555" data-speed="3000" data-waypoint-active="yes">15555</div>
                                            <div class="counter-title">
                                                城市覆盖
                                            </div>
                                        </div>
                                    </div><!-- /.col-md-4 -->
                                </div><!-- /.row -->
                            </div><!-- /.footer-50 -->


                        </div><!-- /.flat-wrapper -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.footer-widgets -->

            <div class="footer-widgets">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="widge widget_text">
                                <div class="textwidget">
                                    <h2>西南货运 - 商业, 运输, 货流 &amp; 车源</h2>
                                </div>
                            </div><!-- /.widget_text -->
                        </div><!-- /.col-md-3 -->

                        <div class="col-md-3">
                            <div class="widget widget_recent_entries">
                                <h4 class="widget-title">最新新闻</h4>
                                <ul>
                                    <li>
                                        <a href="#">提高效率 &amp; 扩大仓库</a>
                                        <span class="post-date">5月 25, 2018</span>
                                    </li>
                                    <li>
                                        <a href="blog-single.html">空运货流进入管理阶段</a>
                                        <span class="post-date">5月 25, 2018</span>
                                    </li>
                                </ul>
                            </div><!-- /.widget_recent_entries -->
                        </div><!-- /.col-md-3 -->

                        <div class="col-md-3">
                            <div class="widget widget_nav_menu">
                                <h3 class="widget-title">信息</h3>
                                <div class="menu-footer-menu-container">
                                    <ul class="menu-footer-menu">
                                        <li><a href="#">首页</a></li>
                                        <li><a href="#">车源信息</a></li>
                                        <li><a href="#">货源信息</a></li>
                                        <li><a href="#">关于我们</a></li>
                                        <li><a href="#">功能中心</a></li>
                                        <li><a href="#">新闻播报</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- /.col-md-3 -->

                        <div class="col-md-3">
                            <div class="widget widget_text information">
                                <h3 class="widget-title">联系我们</h3>
                                <div class="textwidget">
                                    <p><strong>西南大学商贸学院学院路56号</strong></p>
                                    <p>
                                        <i class="fa fa-phone"></i>  001-123-456-7890<br>
                                        <i class="fa fa-envelope"></i>themesflat@qq.com
                                    </p>
                                    <p>
                                        <i class="fa fa-phone"></i>  007-123-456-7890<br>
                                        <i class="fa fa-envelope"></i>themesflat@qq.com
                                    </p>
                                </div>
                            </div>
                        </div><!-- /.col-md-3 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.footer-content -->

            <div class="footer-content">
                <div class="container">
                    <div class="row">
                        <div class="flat-wrapper">
                            <div class="ft-wrap clearfix">
                                <div class="copyright">
                                    <div class="copyright-content">
                                        版权 &copy; 2019.公司名称版权所有<a target="_blank" href="http://sc.chinaz.com/moban/"></a>
                                    </div>
                                </div>
                            </div><!-- /.ft-wrap -->
                        </div><!-- /.flat-wrapper -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.footer-content -->
        </div>
    </footer>

    <!-- Go Top -->
    <a class="go-top">
        <i class="fa fa-chevron-up"></i>
    </a>

</div>

<!-- Javascript -->
<script type="text/javascript" src="javascript/jquery.min.js"></script>
<script type="text/javascript" src="javascript/bootstrap.min.js"></script>
<script type="text/javascript" src="javascript/jquery.easing.js"></script>
<script type="text/javascript" src="javascript/owl.carousel.js"></script>
<script type="text/javascript" src="javascript/jquery-waypoints.js"></script>
<script type="text/javascript" src="javascript/jquery-countTo.js"></script>
<script type="text/javascript" src="javascript/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="javascript/jquery.cookie.js"></script>
<!---<script type="text/javascript" src="http://ditu.google.cn/maps/api/js?sensor=false"></script>--->
<!---<script type="text/javascript" src="javascript/gmap3.min.js"></script>--->
<script type="text/javascript" src="javascript/jquery-validate.js"></script>
<script type="text/javascript" src="javascript/switcher.js"></script>
<script type="text/javascript" src="javascript/parallax.js"></script>
<script type="text/javascript" src="javascript/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="javascript/main.js"></script>

<!-- Revolution Slider -->
<script type="text/javascript" src="javascript/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="javascript/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="javascript/slider.js"></script>
</body>
</html>
